<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="./static/js/app.css">
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
  <link rel="shortcut icon" href="./favicon.ico">
  <link href="./static/js/css2" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./static/js/purify.min.js"></script>
  <title>habada - URL Shortener</title>
</head>

<body class="min-h-screen bg-gray-100 dark:bg-su-dark-bg-1 flex flex-col">
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 w-full flex flex-col flex-1">
    <div class="w-full max-w-3xl mx-auto flex-1 flex flex-col">
      <main class="space-y-4 flex flex-col items-center justify-center flex-1">
        <div class="mb-4 sm:mb-8 flex flex-col justify-center"><a href="/"
            class="text-5xl sm:text-7xl font-serif font-semibold text-su-fg-1 dark:text-su-dark-fg-1 text-center">habada!</a>
          <p class="text-center text-lg"><span class="text-su-fg-1 dark:text-su-dark-fg-1/[0.7]">Shorten your links</span></p>
        </div>
        <form id="url-form" class="flex flex-col w-full">
          <div class="mx-auto flex w-full sm:w-4/5 shadow-md dark:shadow-black/[0.2]">
            <input id="url" autofocus="true"
              autocomplete="off"
              class="flex-1 outline-none placeholder:text-gray-400 dark:placeholder:text-su-dark-fg-1/[0.6] text-su-fg-1 dark:text-su-dark-fg-1 w-10/12 rounded-l-md bg-white dark:bg-su-dark-bg-2 p-2.5 text-lg"
              type="text" placeholder="https://o3cloud.com" name="url" required=""><button title="Why?"
              class="hover:bg-gray-100 dark:hover:bg-white/[0.1] flex items-center justify-center flex-none w-12 p-1 border-red-200 rounded-r-md bg-white dark:bg-su-dark-bg-2 text-su-fg-1 dark:text-su-dark-fg-1"
              type="submit">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M13 9l3 3m0 0l-3 3m3-3H8m13 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
              </svg>
            </button></div>
          <div
            class="hidden w-full sm:w-4/5 max-h-80 overflow-y-auto mt-6 divide-y divide-su-bg-2 dark:divide-su-dark-bg-2 shadow-md px-2.5 bg-su-bg-2 dark:bg-black/[0.3] rounded-md border border-su-dark-bg-2 mx-auto"
            id="url-list">
        </div>
        </form>
      </main>
    </div>
  </main>
  <footer class="bg-gray-100 dark:bg-su-dark-bg-1">
    <div class="max-w-7xl mx-auto pb-6 pt-2 px-4 sm:px-6 flex flex-col-reverse items-center md:flex-row md:items-center md:justify-between lg:px-8 text-su-fg-1 dark:text-su-dark-fg-1">
			<span class="mt-4 md:mt-0">
				{{.BuildTime}}
			</span>
      <nav class="space-y-1 sm:space-y-0 space-x-5 flex items-end">
        <a href="https://o3cloud.com">
          O3Cloud
        </a>
      </nav>
    </div>
  </footer>
  <script src="./static/js/app.js"></script>
</body>

</html>